/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.tool-bar {
	-fx-background-color: -fx-background;
}

.tool-button {
	-fx-background-color: -fx-background;
}

.tool-button:focused {
	-fx-stroke-width: 0;
}

.tool-button:hover {
	-fx-background-color: controllerHoverColor;
}

.tool-button:selected {
	-fx-background-color: controllerSelectedColor;
}

.tool-button:selected:hover {
	-fx-background-color: controllerHoverColor;
}

.layer-browser > .scroll-pane {
	-fx-padding: 0.0;
}

.layer-list-view > .layer-separator:dnd-hover {
	-fx-background-color: controllerHoverColor;
}

.layer-view {
	-fx-background-color: -fx-base;
	-fx-border-color: black;
	-fx-padding: 0 0 0 8;
}

.layer-view:selected {
	-fx-background-color: controllerSelectedColor;
}

.layer-view > .title {
	-fx-padding: 2 8 2 0;
}

.layer-view > .title > .layer-locked-button {
	-fx-opacity: 0.2;
	-fx-background-color: transparent;
	-fx-background-image: url("icons/layers/unlocked.png");
	-fx-background-size: 16px 16px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.layer-view > .title > .layer-locked-button:selected {
	-fx-opacity: 1.0;
	-fx-background-image: url("icons/layers/locked.png");
}

.layer-view > .title > .layer-visible-button {
	-fx-opacity: 0.2;
	-fx-background-color: transparent;
	-fx-background-image: url("icons/layers/hidden.png");
	-fx-background-size: 16px 16px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.layer-view > .title > .layer-visible-button:selected {
	-fx-opacity: 1.0;
	-fx-background-image: url("icons/layers/visible.png");
}

.layer-view > .title > .group-expand-button {
	-fx-background-color: transparent;
	-fx-background-image: url("icons/layers/group_closed.png");
	-fx-background-size: 16px 16px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.layer-view > .title > .group-expand-button:selected {
	-fx-background-image: url("icons/layers/group_open.png");
}

.layer-view > .content {
	-fx-padding: 0 4 4 0;
}

.layer-group-view > .content {
	-fx-padding: 0;
}

.brush {
	-fx-background-color: -fx-base;
	-fx-padding: 2.0;
	-fx-background-radius: 3.0;
	-fx-border-radius: 3.0;
	-fx-border-width: 1.0;
	-fx-border-color: black;
}

.brush:hover {
	-fx-background-color: #565656;
}

.layer-drop-field {
	-fx-border-width: 1.0;
	-fx-border-color: white;
	-fx-border-style: segments(5, 5)  line-cap round;
	-fx-padding: 4.0;
}

.layer-mask-panel {
	-fx-border-width: 1.0;
	-fx-border-color: white;
	-fx-padding: 4.0;
}

.layer-mask-remove-button {
	-fx-background-color: transparent;
	-fx-background-image: url("icons/remove.png");
	-fx-background-size: 16px 16px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}