/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.root{
	-ws-base: #202020;
	-ws-background: derive(-ws-base, 5%);
	-ws-control-inner-background: derive(-ws-base, 20%);

	controllerSelectedColor: derive(-ws-base, 40%);



	/* controllerFocusedColor: #039ED3; */
	controllerHoverColor: #0096C9;
	
	-fx-base: -ws-base;
	-fx-background: -ws-background;

	-fx-control-inner-background: -ws-control-inner-background;
	-fx-control-inner-background-alt: -fx-control-inner-background;

	-fx-body-color: -ws-control-inner-background;

	/*-fx-body-color: -ws-control-inner-background;
	-fx-box-border: -fx-background;

	-fx-outer-border: -fx-background;
	-fx-inner-border: -fx-background;*/
}

/*******************************************************************************
 *                                                                             *
 * Text common                                                                 *
 *                                                                             *
 ******************************************************************************/

.text-input {
	-fx-background-color: -fx-control-inner-background;
}

.text-input:focused {
	-fx-background-color: -fx-focus-color, -fx-control-inner-background;
	-fx-background-insets: 0, 1;
}

/*******************************************************************************
 *                                                                             *
 * MenuBar                                                                     *
 *                                                                             *
 ******************************************************************************/

.menu-bar {
	-fx-background-color: -fx-base;
}

/*******************************************************************************
 *                                                                             *
 * TabPane                                                                     *
 *                                                                             *
 ******************************************************************************/

.tab-pane > .tab-header-area > .tab-header-background {
	-fx-background-color: -fx-base;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
	-fx-background-color: -fx-background;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
	-fx-background-color: controllerSelectedColor;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover {
	-fx-background-color: controllerHoverColor;
}

/*******************************************************************************
 *                                                                             *
 * Buttons                                                                     *
 *                                                                             *
 ******************************************************************************/

.button,
.toggle-button,
.radio-button > .radio,
.check-box > .box,
.combo-box-base,
.scroll-bar > .thumb,
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
	-button-border-color: -fx-body-color;
	-button-body-color: -fx-body-color;
	-fx-background-color: -button-border-color, -button-body-color;
	-fx-background-insets: 0, 1;
}

.toggle-button:selected {
	-button-body-color: controllerSelectedColor;
	-button-border-color: controllerSelectedColor;
	-button-body-color: controllerSelectedColor;
}

.button:hover,
.toggle-button:hover,
.radio-button:hover > .radio,
.check-box:hover > .box,
.combo-box-base:hover,
.scroll-bar:hover > .thumb,
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
	-button-border-color: controllerHoverColor;
	-button-body-color: controllerHoverColor;
}

.button:focused,
.toggle-button:focused,
.radio-button:focused > .radio,
.check-box:focused > .box,
.combo-box-base:focused,
.scroll-bar:focused > .thumb,
.spinner:focused .increment-arrow-button,
.spinner:focused .decrement-arrow-button {
	-button-border-color: -fx-focus-color;
}

.spinner .increment-arrow-button {
     /*Change the two 0's here to -1 to get rid of the horizontal line */
    -fx-background-insets: 0 0 -1 0, 1 1 0 1;
}

.spinner .decrement-arrow-button {
    -fx-background-insets: -1 0 0 0, 0 1 1 1;
}

/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/

.scroll-bar {
	-fx-background-color: -fx-background;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-padding:0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0;
}

.scroll-bar:vertical {
	-fx-pref-width: 20;
	-fx-padding: 4;
}

.scroll-bar:horizontal {
	-fx-pref-height: 20;
	-fx-padding: 4;
}

*/

.progress-bar {
	-fx-accent: green;
}

.worldsynth-materialstate-selector {
	-fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
}

.patch-editor {
	-fx-background-color: derive(-fx-base, -20%);
}

.info-bar {
	-fx-background-color: -fx-base;
}

/* SOMETHING ELSE ???? */

/*
.worldsynth-materialstate-selector .combo-box-popup .list-view 
{
	-fx-background-color: ladder(rgb(80%, 80%, 80%), transparent 0%, -fx-control-inner-background 100%);
	-fx-box-border: black;
}

.worldsynth-materialstate-selector .combo-box-popup .list-cell {
	-fx-background-color: transparent;
}
*/