/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
 
@font-face {
	src: url("FiraSans-Bold.ttf");
}

@font-face {
	src: url("FiraSans-Regular.ttf");
}

#splashRoot {
	backgroundColor: #272727;
	-fx-base: backgroundColor;
	-fx-background-color: backgroundColor;
}

.scroll-pane {
	-fx-background-color: transparent;
}

.scroll-pane .viewport {
	-fx-background-color: transparent;
}

.scroll-pane .scroll-bar .track {
	-fx-background-color: derive(backgroundColor, 10%);
	-fx-background-radius: 2em;
}

.scroll-pane .scroll-bar .thumb {
	-fx-background-color: backgroundColor;
	-fx-background-insets: 2
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-padding:0 10 0 0;
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0;
}

.label .text {
	-fx-fill: gray;
	-fx-font-size: 16pt;
	-fx-font-family: "Fira Sans Regular";
}

.label:hover {
	-fx-background-color: #404040;
}

.check-box .box {
	-fx-background-color: derive(backgroundColor, 10%);
}

.check-box:hover .box {
	-fx-background-color: #404040;
}

.check-box:selected .mark {
	-fx-background-color: gray;
}

#splashTitle .text {
	-fx-background-color: transparent;
	-fx-fill: #FF9B00;
	-fx-font-size: 30pt;
	-fx-font-family: "Fira Sans Bold";
	-fx-stroke: backgroundColor;
	-fx-stroke-width: 1px;
	-fx-stroke-type: outside;
}

#splashTitle:hover {
	-fx-background-color: transparent;
}

#splashVersion .text {
	-fx-fill: white;
	-fx-font-size: 12pt;
	-fx-font-family: "Fira Sans Bold";
	-fx-stroke: backgroundColor;
	-fx-stroke-width: 1px;
	-fx-stroke-type: outside;
}

#splashVersion:hover {
	-fx-background-color: transparent;
}

#newSynth .text {
	-fx-fill: gray;
	-fx-font-size: 16pt;
}

#openSynth .text {
	-fx-fill: gray;
	-fx-font-size: 16pt;
}

#examples .text {
	-fx-fill: gray;
	-fx-font-size: 16pt;
}

#examples:hover {
	-fx-background-color: transparent;
}

#openOnStartupLable {
	-fx-background-color: transparent;
}

#openOnStartupLable .text {
	-fx-fill: gray;
	-fx-font-size: 11px;
}